---
import Layout from "../layouts/Layout.astro" 

import AboutMe from "../components/AboutMe.astro"
import Information from "../components/Informacion.astro" 
import Briefcase from "../components/Icons/Briefcase.astro"
import Certificate from "../components/Icons/Certificate.astro"
import CodeIcon from "../components/Icons/Code.astro"
import CodeIcon1 from "../components/Icons/codee.astro"
import Experience from "../components/Experience.astro"
import ProfileCheck from "../components/Icons/ProfileCheck.astro"
import Projects from "../components/Projects.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Hero from "../components/Hero.astro"
import TitleSection from "../components/TitleSection.astro"
import Awards from "../components/Awards.astro" 
import Bulb from "../components/Icons/Bulb.astro"
import Contacto from '../components/Contacto.astro'
import Create from '../components/Create.astro'
import Tareas from "../components/Tareas.astro"
import School from "../components/Icons/Tareas.astro"
---

<Layout
  title="Portafolio de Osvaldo"
  description="Portafolio profesional de Diego Osvaldo Hernández Fernández, estudiante de Ingeniería en TI enfocado en ciberseguridad, pentesting y respuesta a incidentes."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        </slot>
      </Hero>
    </SectionContainer>
    <div class="space-y-24">

    <SectionContainer id="information">
      <TitleSection>
        <Bulb class="size-7" />
        Presentación del portafolio
      </TitleSection>
      <Information />
    </SectionContainer>  

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <!--

    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="awards">
      <TitleSection>
        <Certificate class="size-7" />
        Certificados
      </TitleSection>
      <Awards />
    </SectionContainer>

    -->

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="tareas">
      <TitleSection>
        <School class="size-7" />
        Tareas
      </TitleSection>
      <Tareas />
    </SectionContainer>

    <SectionContainer id="create">
      <TitleSection>
        <CodeIcon1 class="size-7" />
        Información técnica básica
      </TitleSection>
      <Create />
    </SectionContainer>

    <SectionContainer id="contacto">
      <Contacto />
    </SectionContainer>

  </div>
  </main>
</Layout>