---
 const personalImageAlt = "Diego Osvaldo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Mi nombre es Diego Osvaldo, aunque en el ámbito profesional y personal me conocen mejor como Osvaldo. Actualmente, curso la carrera de <strong>Ingeniería en Tecnologías de la Información</strong>, donde he orientado mi perfil hacia la <strong>ciberseguridad</strong> y la protección de activos digitales.
    </p>
    
    <p>
      A lo largo de mi carrera he desarrollado <strong>plataformas web dinámicas para la visualización de datos</strong> y <strong>sistemas en Java para la gestión de inventarios</strong>, proyectos que fortalecieron mis conocimientos en arquitectura de bases de datos, manejo de información crítica y desarrollo seguro.
    </p>
    
    <p>
      De manera complementaria, he adquirido experiencia en <strong>análisis forense digital</strong> y <strong>extracción de datos</strong>, destacando la intervención técnica de un dispositivo móvil perteneciente al centro penitenciario La Pila, donde realicé el desbloqueo, recuperación y análisis de información.
    </p>

    <p>
      Como futuro ingeniero, me interesa profundizar en áreas como <strong>pentesting y respuesta a incidentes</strong>, con el objetivo de detectar vulnerabilidades, analizar amenazas y proponer soluciones que fortalezcan la seguridad y resiliencia de los sistemas en entornos reales.
    </p>
    
  </div>

  <img width="200" height="200" src="/projects/ciberseguridad1.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>