---
 const personalImageAlt = "Diego Osvaldo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Diego Osvaldo, aunque mis amigos me llaman Osvaldo. Actualmente, curso la carrera de <strong>Ingeniería en Tecnologías de la Información</strong>, con especialización en el desarrollo de páginas web y bases de datos.
    </p>
    
    <p>
      Algunos de mis proyectos más destacados incluyen <strong>el desarrollo de una plataforma web para visualizar cantantes de todo el mundo</strong> y la creación de una <strong>interfaz en Java para gestionar inventarios y almacenarlos en una base de datos</strong>. Estos proyectos han fortalecido mis habilidades en programación y gestión de información.
    </p>
    
    <p>
      Como estudiante, me motiva el aprendizaje continuo, el desafío de superar mis propios límites y la exploración de nuevas oportunidades en el ámbito de la programación. Mi objetivo es seguir perfeccionando mis habilidades y contribuir con soluciones innovadoras en el mundo de la tecnología.
    </p>
    
  </div>

  <img width="200" height="200" src="/projects/me1.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>